/* stylelint-disable length-zero-no-unit */
:root {

  --input-border: 1px solid #e1e5eb;

  --button-bg-color: #2fc18c;

  --config-button-bg-color: #00d5e2;

  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 50px;
}

.form-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
  width: 615px;
}

.form-input {
  border: var(--input-border);
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 519px;
}

.form-container :nth-child( 3 ) {
  background: var(--button-bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  color: white;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  line-height: 150%;
  margin: 10px auto;
  width: 550px;
}

.form-container :nth-child( 4 ) {
  background: var(--config-button-bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  color: #282c34;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  line-height: 150%;
  margin: 10px auto;
  width: 550px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
