/* stylelint-disable length-zero-no-unit */
:root {

  --input-border: 1px solid #e1e5eb;

  --button-bg-color: #2fc18c;

  --config-button-bg-color: #00d5e2;

  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  gap: 30px;
  height: 113px;
  justify-content: center;
}

header > img {
  left: -200px;
  position: relative;
  top: 90px;
}

.header-user {
  align-items: center;
  color: black;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  gap: 10px;
  line-height: 150%;
}

.header-score {
  align-items: center;
  color: #282c34;
  display: flex;
  gap: 10px;
}

.header-user img {
  border-radius: 19px;
  height: 37px;
  width: 37px;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 50px;
}

.form-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
  width: 615px;
}

.form-input {
  border: var(--input-border);
  display: block;
  margin-top: 20px;
  padding: 15px;
  width: 519px;
}

.form-container :nth-child( 3 ) {
  background: var(--button-bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  color: white;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  line-height: 150%;
  margin: 10px auto;
  width: 550px;
}

.form-container :nth-child( 4 ) {
  background: var(--config-button-bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  color: #282c34;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  line-height: 150%;
  margin: 10px auto;
  width: 550px;
}

.question-section-container {
  display: flex;
  gap: 50px;
  margin: 200px 95px;
}

.category-container {
  background: #f9ba18;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 30px;
  position: relative;
  top: -45px;
  width: 400px;
}

.question-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 286px;
  justify-content: space-between;
  margin-right: 80px;
  padding: 20px;
  text-align: center;
  width: 439px;
}

.timer-container {
  align-items: center;
  color: #ea5d5d;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 0.12em;
  line-height: 150%;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alternative-button {
  background: white;
  border: 1px solid white;
  border-radius: 100px;
  height: 64px;
  width: 519px;
}

.footer-container {
  background: #3c1b7a;
  height: 220px;
  left: 0px;
  position: relative;
  top: -250px;
  z-index: -1;
}

.next-button {
  background: #2fc18c;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  position: relative;
  width: 519px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}
